-- AlterEnum
BEGIN;
CREATE TYPE "LiquidationSourceType_new" AS ENUM ('MANUAL', 'MAINTENANCE');
ALTER TABLE "public"."liquidation_records" ALTER COLUMN "sourceType" DROP DEFAULT;
ALTER TABLE "liquidation_records" ALTER COLUMN "sourceType" TYPE "LiquidationSourceType_new" USING ("sourceType"::text::"LiquidationSourceType_new");
ALTER TYPE "LiquidationSourceType" RENAME TO "LiquidationSourceType_old";
ALTER TYPE "LiquidationSourceType_new" RENAME TO "LiquidationSourceType";
DROP TYPE "public"."LiquidationSourceType_old";
ALTER TABLE "liquidation_records" ALTER COLUMN "sourceType" SET DEFAULT 'MANUAL';
COMMIT;

-- AlterEnum
BEGIN;
CREATE TYPE "MaintenanceType_new" AS ENUM ('SCHEDULED', 'AD_HOC');
ALTER TABLE "maintenance_records" ALTER COLUMN "maintenanceType" TYPE "MaintenanceType_new" USING ("maintenanceType"::text::"MaintenanceType_new");
ALTER TYPE "MaintenanceType" RENAME TO "MaintenanceType_old";
ALTER TYPE "MaintenanceType_new" RENAME TO "MaintenanceType";
DROP TYPE "public"."MaintenanceType_old";
COMMIT;

-- DropForeignKey
ALTER TABLE "council_members" DROP CONSTRAINT "council_members_inventoryCheckId_fkey";

-- DropForeignKey
ALTER TABLE "inventory_check_items" DROP CONSTRAINT "inventory_check_items_assetId_fkey";

-- DropForeignKey
ALTER TABLE "inventory_check_items" DROP CONSTRAINT "inventory_check_items_inventoryCheckId_fkey";

-- DropForeignKey
ALTER TABLE "inventory_check_items" DROP CONSTRAINT "inventory_check_items_resolvedById_fkey";

-- DropForeignKey
ALTER TABLE "inventory_checks" DROP CONSTRAINT "inventory_checks_checkedBy_fkey";

-- DropForeignKey
ALTER TABLE "inventory_checks" DROP CONSTRAINT "inventory_checks_roomId_fkey";

-- DropForeignKey
ALTER TABLE "maintenance_records" DROP CONSTRAINT "maintenance_records_inventoryItemId_fkey";

-- AlterTable
ALTER TABLE "council_members" DROP COLUMN "inventoryCheckId",
ALTER COLUMN "liquidationRecordId" SET NOT NULL;

-- AlterTable
ALTER TABLE "liquidation_records" DROP COLUMN "sourceInventoryItemId";

-- AlterTable
ALTER TABLE "maintenance_records" DROP COLUMN "inventoryItemId";

-- DropTable
DROP TABLE "inventory_check_items";

-- DropTable
DROP TABLE "inventory_checks";

-- DropEnum
DROP TYPE "DiscrepancyResolutionStatus";

-- DropEnum
DROP TYPE "DiscrepancyResolutionType";

-- DropEnum
DROP TYPE "DiscrepancyType";

-- DropEnum
DROP TYPE "InventoryCheckStatus";

-- CreateIndex
CREATE UNIQUE INDEX "council_members_liquidationRecordId_userId_key" ON "council_members"("liquidationRecordId", "userId");

